@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,500;1,600&display=swap');
*{  box-sizing: border-box;
}
.center{
  text-align: center;
  padding-top: 30px;
  position: relative;
  font-size: 2.5em;
  font-weight: 800;
	text-transform: uppercase;
	overflow: hidden;
	background: linear-gradient(90deg, rgb(12, 12, 12), rgb(197, 195, 195),rgb(0, 0, 0));
	background-repeat: no-repeat;
	background: linear-gradient(90deg, rgb(0, 0, 0));
	background-size: 90%;
	animation: animate 2s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(14, 13, 13, 0);
}
@keyframes animate {
	0% {
	  background-position: -200%;
	}
	100% {
	  background-position: 300%;
	}
}
  span{
    color: #87888b;
  }
 #nom{ 
   text-align:center;
     font-size: 50px;
     line-height: 35px;  
   position: relative;
   top:40px;
   left:30px;
   font-family: Arial,sans-serif;
 }
 .contact{  
   position: relative;
   font-size: 15%;
   top:45px;
   right:60px;
   width: 310px;
   height:20%;
   margin-left: auto;
   border: 2px solid rgb(78, 76, 76);
       box-sizing: border-box;
       font-size: 100%;
       background-color: rgb(161, 161, 161);
 }
 
 
 .div1{
   width:250px;
   height:999px;
  position: relative;
   top:-120px;
     right: -125px;
   border-radius:20px;
   padding:20px;
     box-shadow:0 5px 30px rgba(1,1,1);
   background-color:rgb(136, 136, 136);
   
 }
 
 .div1 h1{
           background-color: #303134;
     box-shadow: 0 8px 8px 0 #171717;
     border-color: rgba(223,225,229,0);
       text-align:center;
   
 }h2{ 
     display: block;
     font-size:2.7em;
   text-align:center;
     margin-block-start: 0.83em;
     margin-block-end: 0.83em;
   font-weight: bold;}
 .textgrn{
   font-family: Arial;
   font-size:18px;
   left:17px;
 }
 .textgrn2{
   font-family:Serif ;
   line-height:25px;
 }
 .hobb{
     width:250px;
   height:8000px;
  position: absolute;
   top:255px;
   left:500px;
 }
 
 hr {

    margin: 20px -16px;
    border: 0;
    border-top: 1px solid grey;
    margin: 20px 10px;
    box-sizing: content-box;
    overflow: visible;
 }
  .img2{
   width: 99%;
   height: 100%;
   padding-top: 5px;
   padding-left: 14px;
   font-size: 30px;
 }
 .info{
position:absolute;
top: 120%;
left: 65%;
right:10%;

}
section img{
  width: 10%;height: 15%;
}
a:hover{
color: rgb(178, 240, 240);
font-size: 150%;

}
@media  (max-width:1046px) {
  html{
    font-size: 0.5em;
  }
  .contact{  
    position: relative;
    font-size: 7%;
    top:45px;
    right:25px;
    width: 55em;
    height:80%;    
        font-size: 45%;
       

  }
  .center{
    font-size: 5em;
  }
  .hobb{top:255px;
    left:300px;

  }
  .div1{
    
    right: -10px;
  }
  .textgrn2,.textgrn {
    font-weight :500; 
    font-size: 1.8em;
  }
.grand{
  font-size: 1.5em;
}
.contact{font-size: 2.0em;
width: 40%;
  right:10px; top:1000px;

}
}
